@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Lexend+Mega:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --text:black;
  --border:black;
  --background-nav:#fcfcff;
  --active-link:#DCF2F0;
  --amount:#FD987E;
  --title:#303030;
  --button-home:#2F2F2F;
  --button-home-text:white;
}

body {
  background: rgb(222, 255, 222);
}

header {
  position: fixed;
  width: 90vw;
  background: var(--background-nav);
  background: none;
  margin: 0.6rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5rem;
  border: 2px solid var(--border);
  padding: 0.3rem 0.5rem;
}
header .soon {
  display: flex;
  align-items: center;
}
header .soon img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
}
header .soon h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Inter";
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin: 0rem 1rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header nav ul li .active {
  background: var(--active-link);
  padding: 0.4rem 0.8rem;
  border-radius: 4rem;
  border: 2px solid var(--border);
}
header .sale {
  display: flex;
}
header .sale .amount {
  position: relative;
  z-index: 2;
  transform: translateX(1.4rem);
}
header .sale .amount p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  background: var(--amount);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 5rem;
  transform: translate(-0.4rem, 1.8rem);
}
header .sale .buy {
  background-color: var(--active-link);
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--border);
}
header .sale .buy img {
  height: 1.5rem;
  width: 1.5rem;
}

#home {
  background: rgb(206, 241, 206);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .elements {
  width: 60%;
  height: 100%;
  display: flex;
}
#home .elements .column1 {
  width: 33.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#home .elements .column1 .line1 {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home .elements .column1 .line1 h2 {
  position: fixed;
  z-index: 2;
  font-family: "Inter";
  font-weight: 800;
  font-size: 11rem;
  color: var(--title);
  transform: rotate(-8deg) translate(1rem, 3rem);
}
#home .elements .column1 .line2 {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home .elements .column1 .line2 img {
  position: absolute;
  z-index: 3;
  height: 6rem;
  width: 9rem;
  transform: translate(3rem, -2rem);
}
#home .elements .column2 {
  width: 33.5%;
  height: 100%;
}
#home .elements .column2 .line1 {
  height: 15%;
}
#home .elements .column2 .line2 {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home .elements .column2 .line2 img {
  position: absolute;
  z-index: 2;
  width: 18rem;
  height: 18rem;
}
#home .elements .column2 .line2 img.tin {
  position: absolute;
  z-index: 3;
  width: 14rem;
  height: 22rem;
}
#home .elements .column2 .line3 {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .elements .column2 .line3 button {
  background: var(--button-home);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}
#home .elements .column2 .line3 button h2 {
  font-family: "Public Sans";
  font-weight: 400;
  color: var(--button-home-text);
  font-size: 1rem;
  padding: 1rem 1.5rem;
}
#home .elements .column3 {
  width: 33.5%;
  height: 100%;
}
#home .elements .column3 .line1 {
  height: 43%;
  display: flex;
  align-items: end;
  position: relative;
}
#home .elements .column3 .line1 img {
  position: fixed;
  height: 9rem;
  width: 12rem;
}
#home .elements .column3 .line2 {
  height: 33%;
  display: flex;
  align-items: baseline;
  position: relative;
}
#home .elements .column3 .line2 img {
  position: fixed;
  z-index: 4;
  height: 11rem;
  width: 10rem;
  transform: translate(8.5rem, -6rem);
}
#home .elements .column3 .line3 {
  height: 23%;
  position: relative;
}
#home .elements .column3 .line3 h2 {
  position: fixed;
  z-index: 2;
  font-family: "Inter";
  font-weight: 800;
  font-size: 11rem;
  color: var(--title);
  transform: rotate(8deg) translate(-4.5rem, -10rem);
}/*# sourceMappingURL=style.css.map */