@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Lexend+Mega:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --text:black;
  --highlighted-text:#848484;
  --border:black;
  --background-nav:#fcfcff;
  --background-products:#2e2e2e;
  --background-feedback:#f3ffff;
  --background-faq:#fffce3;
  --active-link:#DCF2F0;
  --amount:#FD987E;
  --title:#303030;
  ----highlighted-title:#4B4B4B;
  --button-home:#2F2F2F;
  --button-home-text:white;
  --benefit-1:#dcf2f0;
  --benefit-2:#fff687;
  --benefit-3:#ff9f7f;
  --benefit-4:#fff0ed;
  --background-icon:#ff9f7f;
}

body {
  background: rgb(222, 255, 222);
}

header {
  height: 14vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
}
header .nav {
  width: 90vw;
  height: 10vh;
  background: var(--background-nav);
  background: none;
  margin: 0.6rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5rem;
  border: 2px solid var(--border);
  padding: 0rem 0.5rem;
  z-index: 100;
  background: yellow;
}
header .nav .soon {
  display: flex;
  align-items: center;
}
header .nav .soon img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
}
header .nav .soon h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Inter";
}
header .nav nav ul {
  list-style: none;
  display: flex;
}
header .nav nav ul li {
  margin: 0rem 1rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
header .nav nav ul li a {
  color: black;
  text-decoration: none;
}
header .nav nav ul li .active {
  background: var(--active-link);
  padding: 0.4rem 0.8rem;
  border-radius: 4rem;
  border: 2px solid var(--border);
}
header .nav .sale {
  display: flex;
}
header .nav .sale .amount {
  position: relative;
  z-index: 2;
  transform: translateX(1.4rem);
}
header .nav .sale .amount p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  background: var(--amount);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 5rem;
  transform: translate(-0.4rem, 1.8rem);
}
header .nav .sale .buy {
  background-color: var(--active-link);
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--border);
}
header .nav .sale .buy img {
  height: 1.5rem;
  width: 1.5rem;
}

.menu {
  height: 14vh;
  background: none;
}

#home {
  background: rgb(206, 241, 206);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .elements {
  width: 60%;
  height: 100%;
  display: flex;
}
#home .elements .column1 {
  width: 33.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#home .elements .column1 .line1 {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home .elements .column1 .line1 h2 {
  position: absolute;
  z-index: 2;
  font-family: "Inter";
  font-weight: 800;
  font-size: 11rem;
  color: var(--title);
  transform: rotate(-8deg) translate(1rem, 3rem);
}
#home .elements .column1 .line2 {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home .elements .column1 .line2 img {
  position: absolute;
  z-index: 3;
  height: 6rem;
  width: 9rem;
  transform: translate(3rem, -2rem);
}
#home .elements .column2 {
  width: 33.5%;
  height: 100%;
}
#home .elements .column2 .line1 {
  height: 15%;
}
#home .elements .column2 .line2 {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home .elements .column2 .line2 img {
  position: absolute;
  z-index: 2;
  width: 18rem;
  height: 18rem;
}
#home .elements .column2 .line2 img.tin {
  position: absolute;
  z-index: 3;
  width: 14rem;
  height: 22rem;
}
#home .elements .column2 .line3 {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .elements .column2 .line3 button {
  background: var(--button-home);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}
#home .elements .column2 .line3 button h2 {
  font-family: "Public Sans";
  font-weight: 400;
  color: var(--button-home-text);
  font-size: 1rem;
  padding: 1rem 1.5rem;
}
#home .elements .column3 {
  width: 33.5%;
  height: 100%;
}
#home .elements .column3 .line1 {
  height: 43%;
  display: flex;
  align-items: end;
  position: relative;
}
#home .elements .column3 .line1 img {
  position: absolute;
  height: 9rem;
  width: 12rem;
}
#home .elements .column3 .line2 {
  height: 33%;
  display: flex;
  align-items: baseline;
  position: relative;
}
#home .elements .column3 .line2 img {
  position: relative;
  z-index: 4;
  height: 11rem;
  width: 10rem;
  transform: translate(8.5rem, -6rem);
}
#home .elements .column3 .line3 {
  height: 23%;
  position: relative;
}
#home .elements .column3 .line3 h2 {
  position: absolute;
  z-index: 2;
  font-family: "Inter";
  font-weight: 800;
  font-size: 11rem;
  color: var(--title);
  transform: rotate(8deg) translate(-4.5rem, -10rem);
}

#benefits {
  background: var(--background-nav);
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#benefits article {
  width: 100%;
  height: 80%;
  padding: 3rem 4rem;
}
#benefits article h2 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 6rem;
  color: var(--title);
}
#benefits article .benefits {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1rem;
}
#benefits article .benefits .benefit-1 {
  width: 9.5rem;
  height: 6rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--benefit-1);
  border-radius: 50%;
  border: 2px solid var(--border);
}
#benefits article .benefits .benefit-1 h3 {
  font-family: "Open Sans";
  font-size: 1rem;
  color: var(--text);
}
#benefits article .benefits .benefit-2 {
  height: 100%;
  padding: 1rem 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--benefit-2);
  border: 2px solid var(--border);
  transform: translate(0rem, 2rem);
}
#benefits article .benefits .benefit-2 h3 {
  font-family: "Open Sans";
  font-size: 1rem;
  color: var(--text);
}
#benefits article .benefits .benefit-3 {
  width: 9.5rem;
  height: 6rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--benefit-3);
  border-radius: 50%;
  border: 2px solid var(--border);
  transform: rotate(-5deg);
}
#benefits article .benefits .benefit-3 h3 {
  font-family: "Open Sans";
  font-size: 1rem;
  color: var(--text);
}
#benefits article .benefits .benefit-4 {
  width: 9.5rem;
  height: 6rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--benefit-4);
  border-radius: 50%;
  border: 2px solid var(--border);
  transform: rotate(5deg) translate(0rem, 1rem);
}
#benefits article .benefits .benefit-4 h3 {
  font-family: "Open Sans";
  font-size: 1rem;
  color: var(--text);
}
#benefits .figure {
  width: 30%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#benefits .figure img {
  position: absolute;
  height: 90%;
  width: 100%;
  margin-right: 3rem;
}
#benefits .figure .flower {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
}
#benefits .figure .flower img {
  position: absolute;
  z-index: 3;
  width: 5rem;
  height: 5rem;
  margin: 0rem 2.5rem -0.9rem 0rem;
}

.qualities {
  height: 20vh;
  background: var(--benefit-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
}
.qualities h2 {
  font-family: "Open Sans";
}
.qualities img {
  height: 5rem;
  width: 5rem;
}

#products {
  height: 100vh;
  width: 100%;
  background: var(--background-products);
}
#products .menu {
  height: 13vh;
}
#products .title {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .title h2 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 7.5rem;
  padding-bottom: 1.5rem;
  color: var(----highlighted-title);
}
#products .products {
  display: flex;
  height: 50vh;
  align-items: center;
}
#products .products .left-can {
  width: 10%;
  display: flex;
  align-items: center;
}
#products .products .left-can img {
  height: 17rem;
  width: 5rem;
}
#products .products .size {
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#products .products .size .text {
  width: auto;
}
#products .products .size .text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--background-nav);
}
#products .products .size .text h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--highlighted-text);
}
#products .products .center-can {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .products .center-can img {
  height: 80%;
  width: 11rem;
}
#products .products .description {
  height: 60%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#products .products .description .text {
  width: 70%;
}
#products .products .description .text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--background-nav);
}
#products .products .description .text h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--highlighted-text);
}
#products .products .right-can {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#products .products .right-can img {
  height: 15rem;
  width: 5rem;
}
#products .actions {
  height: 12vh;
  width: 100%;
  display: flex;
}
#products .actions .left-arrow {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .actions .left-arrow button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--background-nav);
  background: none;
  cursor: pointer;
}
#products .actions .left-arrow button img {
  width: 1.2rem;
  height: 1.2rem;
}
#products .actions .center-button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .actions .center-button button {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 10rem;
  border: none;
  background: var(--active-link);
  cursor: pointer;
}
#products .actions .center-button button h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1rem;
}
#products .actions .right-arrow {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .actions .right-arrow button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--background-nav);
  background: none;
  cursor: pointer;
}
#products .actions .right-arrow button img {
  width: 1.2rem;
  height: 1.2rem;
  transform: scaleX(-1);
}

#process {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-nav);
}
#process .menu {
  height: 14vh;
}
#process .container {
  height: 86vh;
  display: flex;
}
#process .container .left {
  height: 100%;
  width: 50%;
}
#process .container .left .title {
  height: 30%;
  display: flex;
  align-items: center;
}
#process .container .left .title .title-overlay {
  position: relative;
}
#process .container .left .title .title-overlay h2 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 7rem;
  padding-left: 4rem;
}
#process .container .left .phases {
  height: 30%;
  display: flex;
}
#process .container .left .phases .line1 {
  display: flex;
  padding: 1rem 4rem;
  flex-direction: column;
}
#process .container .left .phases .line2 {
  display: flex;
  padding: 1rem 4rem;
  flex-direction: column;
}
#process .container .left .phases .phase {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
#process .container .left .phases .phase img {
  height: 3rem;
  width: 3rem;
  margin: 0.8rem;
}
#process .container .left .phases .phase h3 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1rem;
}
#process .container .left .image {
  height: 40%;
}
#process .container .left .image img {
  height: 100%;
  width: 100%;
}
#process .container .right {
  height: 100%;
  width: 50%;
}
#process .container .right img {
  height: 100%;
  width: 100%;
}

#feedback {
  height: 100vh;
  background: var(--background-feedback);
}
#feedback .menu {
  height: 14vh;
}
#feedback .container {
  display: flex;
  height: 86vh;
  width: 100%;
}
#feedback .container .figure1 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: end;
  position: relative;
}
#feedback .container .figure1 img {
  width: 100%;
  height: 20rem;
  margin: 3rem 2rem;
  z-index: 2;
}
#feedback .container .figure2 {
  width: 30%;
  height: 100%;
}
#feedback .container .figure2 .image-flower {
  height: 30%;
  display: flex;
  align-items: end;
  position: relative;
}
#feedback .container .figure2 .image-flower img {
  width: 6rem;
  height: 6rem;
  z-index: 3;
}
#feedback .container .figure2 .image {
  height: 80%;
  position: relative;
}
#feedback .container .figure2 .image img {
  position: absolute;
  width: 85%;
  height: 80%;
  z-index: 2;
  transform: translate(0rem, -3rem);
}
#feedback .container .feedback {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#feedback .container .feedback .text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0rem 1.5rem;
}
#feedback .container .feedback .container {
  display: flex;
  flex-direction: column;
  height: auto;
}
#feedback .container .feedback .perfil {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#feedback .container .feedback .perfil img {
  height: 4rem;
  width: 4rem;
  margin: 1.5rem;
}
#feedback .container .feedback .perfil .name {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1rem;
}
#feedback .container .action {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/img3.png");
  background-size: cover;
}
#feedback .container .action button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 10rem;
  border: 2px solid var(--border);
  background: var(--background-nav);
  cursor: pointer;
}
#feedback .container .action button img {
  height: 1.5rem;
  width: 1.5rem;
  transform: scaleX(-1);
}

#faq {
  height: 100vh;
  width: 100%;
  background: var(--background-nav);
}
#faq .menu {
  height: 14vh;
}
#faq .container {
  width: 100%;
  height: 86vh;
  display: flex;
}
#faq .container .left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: end;
}
#faq .container .left img {
  width: 100%;
  height: 90%;
}
#faq .container .right {
  width: 70%;
  height: 100%;
  padding: 3rem;
}
#faq .container .right .faq {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#faq .container .right .faq .title {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#faq .container .right .faq .title h2 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 5.5rem;
  color: var(--background-products);
}
#faq .container .right .faq .questions {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faq .container .right .faq .questions .question {
  width: 80%;
  height: 3rem;
  padding: 1.5rem 0.5rem;
  margin: 0.25rem;
  background: var(--background-faq);
  border-radius: 10rem;
  border: 2px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#faq .container .right .faq .questions .question h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 1rem;
}
#faq .container .right .faq .questions .question button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  border: 2px solid var(--border);
  background: var(--background-nav);
  cursor: pointer;
}
#faq .container .right .faq .questions .question button img {
  height: 1rem;
  width: 1rem;
}/*# sourceMappingURL=style.css.map */